aiofiles==23.1.0
aiohttp==3.8.4
aiohttp-swagger==1.0.16
aiosignal==1.3.1
async-lru==2.0.2
async-timeout==4.0.2
attrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
cryptography==39.0.1
dill==0.3.6
distro==1.8.0
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
Jinja2==3.1.2
junit-xml==1.9
MarkupSafe==2.1.2
multidict==6.0.4
packaging==23.0
pathspec==0.11.0
prettytable==3.6.0
psutil==5.9.4
pyats==23.1
pyats.aereport==23.1
pyats.aetest==23.1
pyats.async==23.1
pyats.connections==23.1
pyats.datastructures==23.1
pyats.easypy==23.1
pyats.kleenex==23.1
pyats.log==23.1
pyats.reporter==23.1
pyats.results==23.1
pyats.tcl==23.1
pyats.topology==23.1
pyats.utils==23.1
pycparser==2.21
python-engineio==3.14.2
python-socketio==4.6.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
smmap==5.0.0
typing_extensions==4.5.0
unicon==23.1
unicon.plugins==23.1
urllib3==1.26.14
wcwidth==0.2.6
yamllint==1.29.0
yarl==1.8.2
